<template>
  <div id="q-app">
    <q-layout view="hHh lpR fFf">
      <q-page-container>
        <router-view />
      </q-page-container>
    </q-layout>
  </div>
</template>
<script>
  export default {
    name: "App"
  };
</script>
