<template>
  <div>
    <div class="row">
      <div :key="sprint.id" v-for="sprint in sprints" class="q-pa-md q-gutter-md">
        <SingleSprintCard
          :sprintName="sprint.name"
          :stories="sprint.stories"
          :sprintId="sprint.id"
          :teamId="teamId"
        />
      </div>
    </div>
  </div>
</template>

<script>
  import SingleSprintCard from "components/SingleSprintCard";
  import api from "src/Api";
  export default {
    name: "SingleTeam",
    props: ["teamId"],
    components: {
      SingleSprintCard
    },
    data() {
      return {
        sprints: []
      };
    },
    mounted() {
      this.init();
    },
    methods: {
      async init() {
        let result = await api.retrieveTeamSprints(this.teamId);
        result.data.forEach(sprint => {
          this.sprints.push(sprint);
        });
      }
    }
  };
</script>

<style scoped>
</style>
