<template>
  <div class="row">
    <div class="col-8">
      <apexchart type="line" :options="chartOptions" :series="tasks"></apexchart>
    </div>
    <div class="col-8 column items-center">
      Line of best fit equation:
      <span>y = {{ slope.toFixed(2) }}x + {{ yIntercept.toFixed(2) }}</span>
    </div>
    <div class="col-8 column items-center">
      <span>Underestimated tasks: {{ underEstimatedTask }}</span>
      <span>Overestimated tasks: {{ overEstimatedTask }}</span>
      <span>Correctly estimated tasks: {{ correctlyEstimatedTask }}</span>
    </div>
  </div>
</template>

<script>
  import api from "src/Api";
  export default {
    name: "SingleStory",
    props: ["teamId", "sprintId"],
    computed: {
      averageX() {
        return this.estimatedTotal / this.taskItems;
      },
      averageY() {
        return this.actualTotal / this.taskItems;
      }
    },
    data() {
      return {
        tasks: [],
        
        overEstimatedTask: 0,
        underEstimatedTask: 0,
        correctlyEstimatedTask: 0,

        // Line of best fit calculation
        estimatedTotal: 0,
        actualTotal: 0,
        taskItems: 0,
        maxEstimated: 0,

        // Line of best fit equation
        slope: 0,
        yIntercept: 0,

        chartOptions: {
          chart: {
            type: "line"
          },
          fill: {
            type: "solid"
          },
          markers: {
            size: [6, 0]
          },
          tooltip: {
            shared: false,
            intersect: true
          },
          legend: {
            show: true
          },
          yaxis: {
            title: {
              text: "Actual time taken (minutes)"
            },
            tickAmount: 20,
            labels: {
              formatter: function(value) {
                return Math.round(value);
              }
            }
          },
          xaxis: {
            title: {
              text: "Estimated time (minutes)"
            },
            tickAmount: 20,
            labels: {
              formatter: function(value) {
                return Math.round(value);
              }
            }
          }
        }
      };
    },
    mounted() {
      this.init();
    },
    methods: {
      async init() {
        let result = await api.retrieveSprintStories(this.teamId, this.sprintId);
        const data = [];
        result.data.forEach(task => {
          if (task.actualTime === 0) return
          if (task.estimatedTime > this.maxEstimated) {
            this.maxEstimated = task.estimatedTime;
          }

          if (task.actualTime > task.estimatedTime) {
            this.overEstimatedTask++;
          } else if (task.actualTime < task.estimatedTime) {
            this.underEstimatedTask++;
          } else {
            this.correctlyEstimatedTask++;
          }

          this.estimatedTotal += task.estimatedTime;
          this.actualTotal += task.actualTime;
          this.taskItems++;
          data.push([task.estimatedTime, task.actualTime]);
        });

        this.tasks.push({
          name: "Actual vs Estimated",
          type: "scatter",
          data
        });

        this.slope = this.calculateSlope();
        this.generateLineOfBestFit();
        this.generateIdealLine();
      },
      calculateSlope() {
        let totalProduct = 0;
        let totalSqrd = 0;
        this.tasks[0].data.forEach(task => {
          const est = task[0];
          const act = task[1];
          const xMinAvgX = est - this.averageX;
          const yMinAvgY = act - this.averageY;
          const productXY = xMinAvgX * yMinAvgY;
          const xMinAvgXSquared = xMinAvgX * xMinAvgX;
          totalProduct += productXY;
          totalSqrd += xMinAvgXSquared;
        });

        return totalProduct / totalSqrd;
      },
      generateIdealLine() {
        const data = [];

        data.push([0, 0]);
        data.push([this.maxEstimated, this.maxEstimated]);
        this.tasks.push({
          name: "y = x (Blue sky scenario)",
          type: "line",
          data
        });
      },
      generateLineOfBestFit() {
        const data = [];
        this.yIntercept = this.averageY - this.slope * this.averageX;

        let y;
        for (let x = 0; x < this.maxEstimated; x++) {
          y = this.yIntercept + x * this.slope;
          data.push([x, y]);
        }
        this.tasks.push({
          name: "Line of best fit",
          type: "line",
          data
        });
      }
    }
  };
</script>

<style scoped>
</style>
