<template>
  <div>
    <div class="row">
      <div :key="team.id" v-for="team in teams" class="col-6 col-md-4 q-pa-md q-gutter-md">
        <SingleTeamCard :teamId="team.id" :teamName="team.name" />
      </div>
    </div>
  </div>
</template>

<script>
  import api from "src/Api";
  import SingleTeamCard from "../components/SingleTeamCard.vue";
  export default {
    data() {
      return {
        teams: []
      };
    },
    components: {
      SingleTeamCard
    },
    mounted() {
      this.retrieveTeams();
    },
    methods: {
      async retrieveTeams() {
        let result = await api.retrieveAllTeams();
        const teams = result.data;
        console.log(result.data);
        teams.forEach(team => {
          if (team.name.length >= 8) {
            this.teams.push(team);
          }
        });
        this.teams.sort((a, b) => {
          if (a.name < b.name) {
            return -1;
          }
          if (a.name > b.name) {
            return 1;
          }
          return 0;
        });
      }
    }
  };
</script>
