<template>
  <q-card class="my-card bg-purple text-white">
    <q-card-section>
      <div class="text-h6">{{ teamName }}</div>
    </q-card-section>

    <q-card-actions>
      <q-btn @click="openTeamById" flat>Click me</q-btn>
    </q-card-actions>
  </q-card>
</template>

<script>
  export default {
    name: "SingleTeamCard",
    props: ["teamId", "teamName"],
    methods: {
      openTeamById() {
        this.$router.push({ name: "team", params: { teamId: this.teamId } });
      }
    }
  };
</script>

<style scoped>
</style>
