<template>
  <div>
    <q-toolbar class="bg-primary text-white shadow-2">
      <q-toolbar-title>{{ sprintName }}</q-toolbar-title>
    </q-toolbar>

    <q-list bordered>
      <q-item
        v-for="story in stories"
        :key="story.id"
        class="q-my-sm"
        clickable
        :to="{name: 'story', params: {teamId: teamId, sprintId: sprintId}}"
        v-ripple
        dense
      >
        <q-item-section>
          <q-item-label>{{ story.name }}</q-item-label>
        </q-item-section>
      </q-item>
    </q-list>
  </div>
</template>

<script>
  export default {
    name: "SingleSprintCard",
    props: ["teamId", "sprintId", "sprintName", "stories"]
  };
</script>

<style scoped>
</style>
